<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179679326757-n5o4eg44628g8kd0j6dpuvvofnvkg6gi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179679326757-n5o4eg44628g8kd0j6dpuvvofnvkg6gi</string>
	<key>API_KEY</key>
	<string>AIzaSyBo4Q_6FjKgMIT-vWCoFHCWL2xNMLdFknM</string>
	<key>GCM_SENDER_ID</key>
	<string>179679326757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demo</string>
	<key>PROJECT_ID</key>
	<string>fir-setup-9e185</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-setup-9e185.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179679326757:ios:ee483efa0bbab718e705cc</string>
</dict>
</plist>